<div class="background-users background-general">
    <div class="content-adapt">
        <div class="container-profile">
            <div class="users">
                {{#each users}}
                    {{#is this.type "user"}}
                        <div class="user">
                            <img src="{{this.imgPath}}" alt="{{this.username}} Picture" class="profile">
                            <h4>{{this.username}}</h4>
                            <a href="user/{{id}}">See more</a>
                        </div>
                    {{/is}}
                {{/each}}
            </div>
        </div>
    </div>
</div>