<p>Upload your new profile picture</p>
<form action="./update-pict" method="POST" id="form-container" enctype="multipart/form-data">
  <section>
    <div>
        <img class="profile" src="{{user.imgPath}}" alt="{{imgName}}">
    </div>
    <input type="file" name="photo" id="picture" required>
  </section>
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button onclick="empty()">Upload Picture</button>