<div class="container-profile">
    <div>
        <img class="profile" src="{{user.image}}">
    </div>
    <div class="data-container">
        <h2>Welcome {{user.name}}</h2>
    </div>
</div>
<br><br><br><br>
<a href="./all-users">All users</a>

<form action="../auth/{{user.id}}/edit" method="POST">
    <button onclick="Submit">Edit your data</button>
</form>

<a href="../book/finder">Find Book</a>
{{!-- <h3>Post here...</h3>
<form action="/post/new-post" method="POST" id="form-container" enctype="multipart/form-data">
    <label for="content"></label>
    <textarea name="content" id="content" cols="50" rows="10"></textarea>
    <br>
    <input type="text" name="name">
    <input type="file" name="photo">
    <br><br>
    <button>Create post</button>
</form>

<br><br>
<a href="../post/all-post">Go to all Post</a> --}}