<div class="container-profile">
    <div>
        <img class="profile" src="{{user.image}}">
    </div>
    <div class="data-container">
        <h2>Welcome {{user.name}}</h2>
    </div>
</div>
<br><br><br><br>
<a href="./all-users">All users</a>

<form action="../auth/{{user.id}}/edit" method="POST">
    <button onclick="Submit">Edit your data</button>
</form>

<a href="../book/finder">Find Book</a>