<div class="background-profile background-general">
  <div class="content-adapt">
    <div class="container-profile">

        <form action="./password/{{user.id}}" method="POST">
            <div class="form-group">
                <label for="password">Current Password: </label>
                <input class="form-control" type="password" placeholder="Password" name="passwordForm" id="password" required>
            </div>
            <div class="form-group">
                <label for="password2">New Password: </label>
                <input class="form-control" type="password" placeholder="New password" name="newpasswordForm" id="password2" required>
            </div>
            <div class="form-group">
                <label for="password3">Repeat New Password: </label>
                <input class="form-control" type="password" placeholder="New password" name="newpassword2Form" id="password3" required>
            </div>
            {{#if errorMessage}}
            <div style="padding:20px; background: red;">
                {{errorMessage}}
            </div>
            {{/if}}
            <br><br>
            <button class="btn-edit" onclick="Submit">Change Password</button>
        </form>
    </div>
  </div>
</div>