<div class="background">
    <div class="sign">
        <h2 class="sign-text">Sign Up</h2>
        <form action="/auth/signup" method="POST">
            <div class="username form-group">
                <label for="username" name="username">User Name</label>
                <input id="username" class="form-control" type="text" name="username" autofocus>
            </div>
            <div class="pass form-group">
                <label for="password">Password</label>
                <input id="password" class="form-control" type="password" name="password">
            </div>
            <div class="name form-group">
                <label for="name">Name</label>
                <input id="name" class="form-control" type="name" name="name">
            </div>
            <div class="email form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            {{#if message }}
            <div class="error-message">{{ message }}</div>
            {{/if}}
            <div class="container-btn-signup">
                <button class="btn-signup">Register</button>
            </div>
        </form>
        <div class="advise-login">
            <p class="account-message">
                Do you already have an account?
                <a href="/auth/login">Login</a>
            </p>
        </div>
    </div>
</div>