<div class="container-profile">
    <div>
        <img class="profile" src="{{user.image}}">
    </div>
    <div class="data-container">
        <h2>{{user.name}}</h2>
    </div>
</div>
<br><br><br><br>
<a href="../../auth/all-users">All users</a>
<br>
<a href="../profile">Return to Profile</a>