<div class="container-profile">
    <div>
        <img class="profile" src="{{userFind.imgPath}}" alt="{{userFind.imgName}}">
    </div>
    <div class="data-container">
        <h2>{{userFind.name}}</h2>
    </div>
</div>
<br><br><br><br>
<a href="../../auth/all-users">All users</a>
<br>
<a href="../index">Return to Menu</a>