{{#each book}}
<div>
  <form action="bookCreate" method="POST">
    <input style="display:none" name="bookTitle" value="{{this.volumeInfo.title}}" readonly />
    <br>
    <input name="bookAuthor" value="{{this.volumeInfo.authors}}" readonly/>
    <br>
    <input name="bookDescription" value="{{this.volumeInfo.description}}"readonly/>
    <button type="submit" name="selectbtn">Select</button>
    <p>imagen: {{this.volumeInfo.imageLinks}}</p>
  </form>

</div>

{{/each}}