<form action="/bookresult" method="POST">
  Title:<br>
  <input type="text" name="bookTitle">
  Author: <br>
  <input type="text" name="bookAuthor">
  <br> 
  ISBN 
  <br>
  <input type="number" name="bookISBN">
  <br>
  <button type="submit">Find Book</button>
</form>

