<div class="background-find background-general">
  <form action="/bookresult" method="POST">
  
    <div class="searchContainer">
      <input type="text" placeholder="Search..." name="bookTitle" autocomplete="off">
      <div class="search"></div>
    </div>
  
  </form>
</div>