<div class="background">
    <div class="container">
        <div class="login">
            <h2>Login</h2>
            <label for="username"></label>
        </div>
        <div class="sign">
            <h2>Sign Up</h2>
        </div>
    </div>
</div>