

<div class="background">
    <video loop muted autoplay class="fullscreen-bg__video" >
        <source src="../images/tiabuena.mp4" type="video/mp4">
    </video>
    <div class="index-title">
        <h1 class="title-text">BookApp, <br>the social book page</h1>
        <p class="p-index">Start today and discover a world of books meeting people.</p>
        <a href="/auth/signup">Create new account</a>
    </div>
</div>
