<div class="formContainer">
  
  
  <div style="width: 400px; height= 300">
    <h3>Find your ideal book!</h3>
  <form action="/posted-ad" method="POST" class="cuestionario">
    Title:<br>
    <input type="text" name="postTitle" id="title">
    <br> Price: <br>
    <input type="number" name="postPrice">
    Book <br>
    <select name="bookSelect" id="bookSelect">
      {{#each book}}
      <option name="bookId" value="{{this.id}}">{{this.title}}</option>

      {{/each}}


    </select>
    <br> Type:
    <select required name="postType" required="true">
      <option value="">None</option>
      <option value="venta">Sell</option>
      <option value="intercambio">Swap</option>
    </select>
    {{!-- <input type="hidden" name="id" value="{{user}}"> --}}
    <br>
    Description:<br>
    <textarea  class ="textarea" name="postDescription" rows="5" cols="40"
      placeholder="Enter a brief description about the book, ie: title, author, price..."
      maxlength="200"></textarea>
    <label for="author">{{userName}}</label>
    <br>
    <button class="botonForm" type="submit">Add post</button>
  </form>
  </div>
</div>