*{
	font-family: Montserrat;
}

body {
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2{
  font-size: 50px;
}

.postWraper{
  display:flex;
  flex-direction: row;
  margin-top: 50px;
}

.postListContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
//**********************

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 100px;
  background-color: blue;
}



//***********************
.postList{
  // margin: 20px;
  // border-style: solid;
  // flex: 1 0 30%;
  // border-style: 5px;
  // border-color: #9179ef;
  // width: 350px;
  // height: 300px;
  // border-radius: 10px;

  width: 300px;
  margin: 5px 5px 20px 5px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.47);
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.47);
  // display: grid;
  // grid-template-columns: 30% 70%;
  height: 300px;
  text-align: justify;
  overflow-y: auto;
  padding-top: 30px;
}

// .postListDescription{
//   padding-bottom: 10px;
// }

.postList::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

 /* Estilos barra (thumb) de scroll */
.postList::-webkit-scrollbar-thumb {
  background: rgb(221, 218, 218);
  // border-radius: 4px;
}

.postList::-webkit-scrollbar-thumb:active {
  background-color: #c4b7f8;
}

.postList::-webkit-scrollbar-thumb:hover {
  background: #c4b7f8;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.postList::-webkit-scrollbar-track {
  background: white;
  // border-radius: 4px;
}

.postList::-webkit-scrollbar-track:hover, 
.postList::-webkit-scrollbar-track:active {
  background: white;
}

.postListForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
}

.contactUserBtn{
  border-radius: 10px;
  padding: 7px 20px;
  box-shadow: none;
  color: white;
  // border-color: #9179ef;
  background: #9179ef;
  border: 0;
  // position: relative;
  margin-top: 0px;
  
  

}

.formContainer{
  display: flex;
  justify-content: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.botonForm {
  width: 100%;
  background-color: #9179ef;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.background{

  //background-image: url("../images/background2.jpg");
  // background-image: url("../images/WomanWalk.mp4");
  // background-repeat: no-repeat;
  // position: relative;
  // overflow: hidden;
  // position: fixed;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;

  // width: 100vw;
  // height: 100vh;
  // background-size: cover;
  // display:flex;
  // align-items: flex-start;
  // margin-top:-60px;

  // margin-left:-20px;
  // margin-right: -20px;

}

.bookInfoWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookInfo{
  width: 1000px;
  margin: 50px 5px;
  
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.47);
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.47);
  display: grid;
  grid-template-columns: 30% 70%;
  height: 500px;

  .bookInfoCard-left{
    display: grid;
    justify-items: center;
    align-content: center;
  }

  .bookInfoCard-right {
    padding: 90px 50px 10px 10px;
    text-align: justify;
    box-sizing: border-box;

    .description-paraf {
      overflow-y: auto;
      height: 250px;
    }
  }

  h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
.btnBookInfo{
   border-radius: 10px;
    padding: 7px 20px;
    box-shadow: none;
    color: white;
    // border-color: #9179ef;
    background: #9179ef;
    border: 0;
    margin-left: 230px;
    margin-top: 10px;
    width: 150px;
    height:   50px;
}
  .btn-bookInfo-google {
    border-radius: 10px;
    padding: 7px 20px;
    box-shadow: none;
    color: white;
    // border-color: #9179ef;
    background: #9179ef;
    border: 0;
    margin-left: 120px;
    
  
  }
}

.background-users{
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/old-books.jpg") fixed;
}

.background-profile{
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/books.jpg") fixed;
}

.background-index{
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/knowledge.jpg") fixed;
}

.background-find{
  background:  url("../images/backgroundsearch.png") fixed;
}

.background-general{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  align-items: flex-start;
  margin-top:-60px;
  margin-left:-20px;
  margin-right: -20px;
}

.adapt-content{
  padding-top:60px;
  padding-left:20px;
  padding-right: 20px;
}
.index-title{
  margin-top: 200px;
}

.index-title, .login, .sign{
  margin-left: 50px;
  margin-top: 100px;
  background-color:rgba(255,255,255,0.2);
  border-radius: 20px;
}

.index-title, .background, .login, .sign{
  position: absolute;
  top: 0;
  left: 0;
}

.index-title{
  margin-top: 200px;
  margin-left: 50px;
  max-width: 500px;
}
//******************************************
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  
  left: 0;
  overflow: hidden;
  z-index: -100;
}
.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 50%;
}
//*******************************************

.p-index{
  font-size: 16px;
  margin-top: 20px;
}

.title-text{
  font-size: 60px;
}

.sign-text, .login-text{
  font-size: 60px;
  margin: 10px 0px 20px 20px;
}

.login, .sign{
  width: 30vw;
}

.username, .pass, .email, .name{
  text-align: initial;
  padding-left: 50px;
  padding-right: 50px;
  margin:10px 0px;
}

.btn{
  margin: 20px 0px;
}

.container-btn-signup{
  display: wrap;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 20px 50px 20px 0px;
}

.slack-login-picture{
  margin-left: 50px;
  margin-top:-2px;
  height: 38px;
}

.logout{
  margin-left:30px;
}

.welcome-nav{
  margin: 0px 50px;
}

.data-profile{
  margin-left: -150px;
  margin-right: 100px;
  margin-top: 50px;
}

.btn-update{
  padding:8px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: white;
}

.btn-edit{
  padding:8px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.link-edit, .link-edit-pic{
  margin-left: 30px;
}

.sep{
  margin-right: 30px;
}

.btn-signup{
  padding:8px;
  margin-left: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.advise-login{
  margin: 0px 50px;
}

.nav-own{
  position:fixed;
  width: 100vw;
}

.size-text{
  font-size: 30px;
}

.size-subtext{
  font-size: 15px;
}

.link-profile{
  text-decoration: none;
  color:black;
}

.sep-icon{
  margin-right: 20px;
}

.content-adapt{
  margin: 0px 0px 0px 80px;
}

.container-profile{
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  margin-bottom: 50px;
}

.edit-separator{
  display:flex;
  flex-direction: row;
  margin-top:30px;
}

.container-edit{
  padding-top: 100px;
  margin-bottom: 50px;
}

.profile{
  height: 100px;
  width: 100px;
  border-radius: 150px;
}

.data-container{
  margin-left: 50px;
}

.users{
  display:flex;
  flex-wrap: wrap;
}

.user{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
}

.footer{
  background-color: #343A40;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-pict{
  height: 40px;
  width: 200px;
}

#map{
  height: 500px;
  width: 700px;
  margin-top: 70px;
  margin-right: 50px;
}

.map-edit{
  margin-left: 200px;
  margin-top:-100px;
}

.email-user{
  margin-bottom: -50px;
}

.file-picture{
  margin-top:20px;
}

.searchResults{
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  width: 800px;
  display: flex;
  justify-content: center;
}
.searchResults p{
  text-align: justify;
}
.bookImg{
  margin-left: 20px;
  max-width:600px;
  max-height:300px;
  width: auto;
  height: auto;
}
// **************************************SEARCH BUTTON STYLE***********************
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.charContainer{
  width: 1200px;
  height: 1000px;
  display: flex;
  justify-content: center;
}

.findBackground{
  background-image: url("../public/images/find_background.jpg")
}

.searchContainer {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: #9179ef;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    // box-shadow: 0 0 25px 0 crimson;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: #9179ef;
    color: white;
    text-shadow: 0 0 10px #9179ef;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #3d3062,
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}
