body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

h2 {
  font-size: 50px; }

.background {
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  margin-top: -60px;
  margin-left: -20px;
  margin-right: -20px; }

.adapt-content {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px; }

.index-title, .login, .sign {
  margin-left: 50px;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px; }

.index-title {
  padding: 20px; }

.p-index {
  font-size: 16px;
  margin-top: 20px; }

.title-text {
  font-size: 60px; }

.sign-text, .login-text {
  font-size: 60px;
  margin: 10px 0px 20px 20px; }

.login, .sign {
  width: 30vw; }

.username, .pass, .email, .name {
  text-align: initial;
  padding-left: 50px;
  padding-right: 50px;
  margin: 10px 0px; }

.btn {
  margin: 20px 0px; }

.container-btn-signup {
  display: wrap;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 20px 50px 20px 0px; }

.slack-login-picture {
  margin-left: 50px;
  margin-top: -2px;
  height: 38px; }

.logout {
  margin-left: 30px; }

.link-without {
  cursor: default; }

.welcome-nav {
  margin: 0px 50px; }

.links-index {
  margin: 0px 35px; }

.sep {
  margin-right: 30px; }

.btn-signup {
  padding: 8px;
  margin-left: 50px;
  border-radius: 5px;
  margin-bottom: 10px; }

.advise-login {
  margin: 0px 50px; }

.nav-own {
  position: fixed;
  width: 100vw; }

.container-profile {
  display: flex;
  flex-direction: row;
  padding: 50px; }

.profile {
  height: 100px;
  width: 100px;
  border-radius: 150px; }

.data-container {
  margin-left: 50px; }

.users {
  display: flex;
  flex-wrap: wrap; }

.user {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px; }

.footer {
  background-color: #343A40;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }

.footer-pict {
  height: 40px;
  width: 200px; }

#map {
  height: 500px;
  width: 800px;
  margin-top: 100px; }

.searchResults {
  text-align: center;
  width: 800px;
  display: flex;
  justify-content: center; }

.searchResults p {
  text-align: justify; }

.bookImg {
  margin-left: 20px;
  max-width: 600px;
  max-height: 300px;
  width: auto;
  height: auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.charContainer {
  width: 1200px;
  height: 1000px;
  display: flex;
  justify-content: center; }

.searchContainer {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px; }
  .searchContainer .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: #9179ef;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4); }
    .searchContainer .search:hover {
      cursor: pointer; }
    .searchContainer .search::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s; }
    .searchContainer .search::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s; }
  .searchContainer input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #9179ef;
    color: white;
    text-shadow: 0 0 10px #9179ef;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #3d3062, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em; }
    .searchContainer input:hover {
      cursor: pointer; }
    .searchContainer input:focus {
      width: 300px;
      opacity: 1;
      cursor: text; }
    .searchContainer input:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6; }
      .searchContainer input:focus ~ .search::before {
        top: 0;
        left: 0;
        width: 25px; }
      .searchContainer input:focus ~ .search::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg); }
    .searchContainer input::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder; }

/*# sourceMappingURL=style.css.map */